body, html {
    margin: 0;
}

.header{
    position: fixed;
    width: 100%;
    z-index: 1;
    &__container{
        margin: 0 auto;
        display: flex;
        align-items: center;
        height: 10vh;
    }
    &__toggler{
        margin-right: 6%;
        margin-top: 3vh;
        position: absolute;
        right: 0;
        top: 0;
        color: white;
    }
    &__links{
        display: none;
        background-color: rgba($color: $headercolor, $alpha: $headeralpha);
        a{
        font-weight: 200;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        }
        a:hover, a:active{
            background-color: $activebutton;
        }
    }
    &__scroll{
        margin: 0 auto;
        position:fixed;
        background-color: rgba($color: $headercolor, $alpha: $headeralpha);
        -webkit-animation: fadein 1s;
        -moz-animation: fadein 1s;
         -ms-animation: fadein 1s;
          -o-animation: fadein 1s;
             animation: fadein 1s;
    }
}

@media screen and (max-width: 480px) {
    .header img{
       width: 50%;
    }
}

@media screen and (max-width: 1100px) {
    .header__container{
        width: $pagewidth2;
    }
}

@media screen and (max-width: 480px) {
    .header__toggler{
        display: block;
    }
    .header__logo{
        margin-left: 5%;
    }
    .header img{
        width: 50%;
     }
}

@media screen and (min-width: 1100px) {
    .header__toggler{
        display: none;
    }
    .header__static{
        margin-top: 10vh;
    }
    .header__container{
        width: $pagewidth;
    }
    .header__logo{
        margin-left: 0;
    }
}